Package: lcit-monitor-agent
Version: 1.0
Section: utils
Priority: optional
Architecture: any
Depends: python3
Maintainer: Dat Nguyen Tien <nguyentiendat1@laocai.gov.vn>
Description: LCIT Monitor Agent.
